<!DOCTYPE html>
<html lang="zh_hans">
<head>
    <title>上传完成</title>
    <link rel="stylesheet" type="text/css" href="/static/css/base.css"/>
    <link rel="stylesheet" type="text/css" href="/static/css/login.css"/>

    <script type="text/javascript">window.__admin_media_prefix__ = "/static/admin/";</script>
    <script type="text/javascript">window.__admin_utc_offset__ = "28800";</script>

    <meta name="robots" content="NONE,NOARCHIVE"/>
</head>
<body class=" login">
<!-- Container -->
<div id="container">
    <!-- Header -->
    <div id="header">
        <div id="branding">
            <h1 id="site-name"><a href="/admin/">上传完成</a></h1>
        </div>
    </div>
    <!-- END Header -->
    <!-- Content -->
    <div id="content" class="colM">
        <div id="content-main">
            <h1><a href="">返回上传页面 </a></h1>
            <script type="text/javascript">
                document.getElementById('id_username').focus()
            </script>
        </div>
        <br class="clear"/>
    </div>
    <!-- END Content -->
    <div id="footer"></div>
</div>
<!-- END Container -->
</body>
</html>